#################
## My Exclusions
#################
log/
*.pyc
app/data/*.json
output_bucket/*.json
queue/all_links_cached.csv
queue/links_crawled_queue.csv
queue/cities_done_with_property_link_extraction.txt
queue/city_list.txt
special_tasks/*/*.json
special_tasks/*.json
special_tasks/*.csv
